// Margins
  .make-margins(@size: @size){
      .m@{size}{
          margin: @size ;  
      }
      .mt@{size}{
          margin-top: @size;  
      }
      .mb@{size}{
          margin-bottom: @size;  
      }
      .mr@{size}{
          margin-right: @size;  
      }
      .ml@{size}{
          margin-left: @size;  
      }
  }
  .make-margins(10px);
  .make-margins(20px);
  .make-margins(30px);
  .make-margins(40px);


  //  Paddings
  .make-paddings(@size: @size){
    .p@{size}{
        padding: @size ;  
    }
    .pt@{size}{
        padding-top: @size;  
    }
    .pb@{size}{
        padding-bottom: @size;  
    }
    .pr@{size}{
        padding-right: @size;  
    }
    .pl@{size}{
        padding-left: @size;  
    }
}
.make-paddings(10px);
.make-paddings(20px);
.make-paddings(30px);
.make-paddings(40px);

