@import './_variables.less';

.Target {
  margin: 22px 0;
  width: 100%;
}

.Target-grid {
  display: flex;
  flex-wrap: wrap;
  & > span:not(:last-child) {
    margin: 0 8px 8px 0;
  }
}

.Target-span {
  font-size: 14px;
  height: 40px;
  padding: 12px 16px;
  background: #eeeeee;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: @black !important;
  cursor: default;

  & svg {
    stroke: black;
    cursor: pointer;
    width: 11px;
    margin-left: 12px;
  }
}
.Target__btn {
  display: flex;
  align-items: center;
}
