@pagepadding: 0 60px;
@pagepadding-tablet: 0 40px;
@pagepadding-mobile: 0 25px;

// XS
@layout-xs: 24px;
// XS Portrait
@layout-xs-p: 24px;
// S
@layout-s: 32px;
// S Portrait
@layout-s-p: 32px;
// M
@layout-m: 42px;

// XL
@layout-xl: 108px;

@header-height: 12px;

@media (min-width: 1224px) {
  .layout-center {
    display: flex;
    justify-content: center;
  }

  .layout {
    max-width: 1224px;
  }
}

#flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.layout-top {
  margin-top: 64px;
}
