@import './lib/_variables.less';
@centrado: center;

.footer {
  width: 100%;
  height: 300px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}

.ant-layout-footer {
  text-align: @centrado;
  background-color: @bgfooter;
}

.mail-color {
  color: @blue;
  font-weight: 600;

  & a {
    color: @blue;

    &:hover {
      color: @dark-blue;
    }
  }
}

.social-media {
  padding-bottom: 24px;
  display: flex;
  justify-content: @centrado;
}

.social-media > div {
  padding-right: 10px;
}

.social-media__Icon > svg {
  font-size: 25px;
  color: @blue;
}

.language {
  display: flex;
  justify-content: @centrado;
  align-items: center;
}

.activate {
  color: @blue;
  font-weight: 600;
}

.circle {
  border: 1px solid #353535;
  margin-left: 10px;
  margin-right: 10px;
}

// Super XS
@media (min-width: 320px) {
  .footer {
    height: 350px;
  }
}

// XS
@media (min-width: 424px) {
  .footer {
    height: 300px;
  }
}

// XS Portrait
@media (min-width: 796px) {
}

// S
@media (min-width: 800px) {
}

// S Portrait
@media (min-width: 1016px) {
}

// M
@media (min-width: 1028px) {
}

// XL
@media (min-width: 1224px) {
}
