@import './lib/_variables.less';
@import './layout/_layout.less';

.ant-layout-header {
  display: flex;
  line-height: normal !important;
}

.ant-layout {
  width: 100%;
  background: none;
}

.fixed {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
}

.bg {
  background-color: @bgwhite;
}

.nobg {
  background-color: transparent !important;
}

.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: @header-height 0;
}

.headerContent {
  padding: 0 @layout-xl;
}

.header__logo {
  display: flex;
  align-items: center;
  & a {
    margin-bottom: -8px;
  }
  & svg {
    width: 120px;
    height: 40px;
  }
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 184px;
  border: 1px solid @blue;
  border-radius: 2px;
  cursor: pointer;
  fill: @blue;
  color: @blue;
  padding: 0 16px;
  transition: 150ms ease-in-out;
  display: -webkit-box;
  -webkit-box-orient: horizontal;

  &:hover {
    background-color: @blue;
    color: #f5f5f5;
    fill: #f5f5f5;
  }

  & svg {
    margin-left: 8px;
    fill: inherit;
    width: 15px;
  }
}

.header__btn-text {
  display: flex;
  -webkit-box-flex: 1;
  justify-content: center;
  align-items: center;
  padding: 6px 0px;
  font-family: 'Nunito';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}

// UltraResponsive
@media (min-width: 320px) {
  .headerContent {
    padding: 0 @layout-xs;
  }

  .header__logo svg {
    width: 104px;
    transform: scale(1.2);
  }

  .header__btn {
    width: auto;
  }
  .gentemLogo {
    display: none;
  }
}

// XS
@media (min-width: 424px) {
  .headerContent {
    padding: 0 @layout-xs;
  }

  .header__logo svg {
    width: 120px;
    transform: scale(1);
  }

  .header__btn {
    width: 184px;
  }
  .gentemLogo {
    display: block;
  }
}

// XS Portrait
@media (min-width: 796px) {
  .headerContent {
    padding: 0 @layout-xs-p;
  }
}

// S
@media (min-width: 800px) {
  .headerContent {
    padding: 0 @layout-s;
  }
}

// S Portrait
@media (min-width: 1016px) {
  .headerContent {
    padding: 0 @layout-s-p;
  }
}

// M
@media (min-width: 1028px) {
  .headerContent {
    padding: 0 @layout-m;
  }
}

// XL
@media (min-width: 1224px) {
  .headerContent {
    padding: 0 @layout-xl;
  }
}

.construction {
  position: fixed;
  z-index: 2;
  bottom: 0;
  right: 0;
}
