@import './lib/_variables.less';
@import './lib/_mixins.less';
@import './layout/_layout.less';

body {
  background: #fff;
  color: #1a1928;
}

.fakeSpace {
  margin-top: 64px;
}
.home {
  padding: 0 @layout-xs;
  height: auto;
}
.contenedor {
  width: 100%;
  height: auto;
  position: relative;
  .fl-1 {
    width: 100%;
    height: 100%;
  }
  .fl-2 {
    width: 100%;
    height: 50%;
  }
}
button {
  background: none;
  border: none;
  outline: none;
}
.btn-home {
  width: 262px;
  background: #f44b53;
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 8px 8px rgba(244, 75, 83, 0.12);
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: 0px 0px 20px rgba(25, 25, 25, 0.1);
  }
  span {
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 25px;
    transition: all 0.2s ease-out;
    align-items: center;
    text-align: center;
  }
}
.btn-contribuir {
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(25, 25, 25, 0.1);
  width: 256px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  span {
    font-weight: 400;
    z-index: 11;

    font-size: 24px;
    line-height: 1.3;
    color: #fff;
  }
  svg {
    align-items: center;
    fill: #fff;
    transform: translate(4px, 4px);
    justify-content: center;
  }
}
.btn-colab {
  height: 48px;
  border-radius: 2px;
  box-shadow: 0px 4px 8px rgba(25, 25, 25, 0.1);
  width: 256px;
  cursor: pointer;
  transition: all 0.2s ease-out;
  &:hover {
    box-shadow: none;
  }
  span {
    z-index: 11;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
    color: #fff;
  }
}
.container-banner {
  width: 100%;
  height: 505px;

  display: flex;
  position: relative;
  .img-banner-I {
    height: 100%;
    width: 100%;
    background: url(../assets/img/banner.jpg);
    background-position: center;
  }
  .img-banner {
    height: 100%;
    width: 100%;
    background: violet;
    img {
      width: 100%;
      height: 100%;
    }
  }
  .content-banner {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 90%;
    align-items: center;
    justify-content: center;
    .content {
      width: 100%;
      height: 100%;
      display: flex;
      padding-top: 180px;
      flex-direction: column;

      .text {
        width: auto;
        padding: 0 320px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        h4 {
          color: #fff;
          font-style: normal;
        }
      }
      .btn-banner {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 55px 320px;
      }
    }
  }
}
.btn-fl {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.texto {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.desc {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.colm-2 {
  width: (100%/2);
  display: flex;
  flex-direction: row;
}
.colm-3 {
  width: (100%/3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.colm-4 {
  width: (100%/4);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.fuente {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.container-stats {
  width: 790px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  .texto {
    padding: 0 96px;
    h2 {
      color: #1a1928;
    }
  }
  .desc {
    padding: 84px 96px;
  }
  .fuente {
    padding: 48px;
    text-align: center;
    span {
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 29px;
    }
  }
  .res-stats {
    display: flex;

    flex-direction: column;
    .result {
      width: 100%;
      justify-content: space-around;
      display: flex;
      flex-direction: row;
      .colm-3 {
        &:nth-child(1) {
          justify-content: flex-start;
        }
        &:nth-child(3) {
          justify-content: flex-end;
        }
      }
      .resCov {
        .valor {
          span {
            font-weight: 200;
            font-size: 55px;
            line-height: 55px;
            flex: none;
            order: 0;
            align-self: center;
            margin: 0px 6px;
            letter-spacing: -0.045em;
          }
        }
        .result-info {
          padding-top: 6px;
          text-align: center;
          span {
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
}
.container-colabor {
  width: 100%;
  height: 100%;
  padding: 204px 0 180px;
  .colaborar {
    width: 600px;
    margin: 0 auto;
  }
  .texto {
    text-align: center;
  }
  .btn-fl {
    padding-top: 24px;
  }
}

.container-info-home {
  width: 100%;
  height: 100%;
  .fl-2 {
    padding: 120px 0 0;
  }
  .info-home,
  .flex-rev {
    width: 1100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .container-info {
      width: 392px;
      .texto {
        align-items: flex-start;
      }

      .linea {
        width: 83px;
        margin: 24px 0;
        border-radius: 8px;
        height: 5px;
        background: red;
      }
    }
    .container-img-info {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;

      .cont {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: 100%;
        position: relative;
        .formaIm {
          width: 550px;
          height: 400px;
          img {
            height: 100%;
            width: 100%;
          }
        }
        .forma {
          height: 392px;
          width: 399px;
          position: absolute;
          display: flex;
          justify-content: flex-start;
          align-items: center;

          .svgF {
            width: 100%;
            height: 100%;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
        .img {
          z-index: 1;
          position: relative;
          display: flex;
          width: 448px;
          height: 362px;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
}
.container-about {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 180px;
  flex-direction: column;
  .texto {
    padding: 60px 0;
  }
  .content {
    display: flex;
    flex-direction: row;

    .about {
      flex-direction: column;
      width: 376px;
      .container-img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .img {
          justify-content: center;
          align-items: center;
          display: flex;
          height: 144px;
          width: 144px;
        }
      }
      .tit {
        display: flex;
        flex-direction: column;
        align-items: center;

        span {
          font-weight: bold;
          font-size: 16px;
          line-height: 147.5%;
          color: #000;
          margin: 20px 0;
        }
        p {
          font-size: 16px;
        }
      }
      .desc {
        text-align: center;
        p {
          font-style: normal;
          font-weight: 300;
          font-size: 16px;
          line-height: 22px;

          letter-spacing: 0.01em;
        }
      }
    }
  }
  .btn-fl {
    padding: 60px 0;
  }
}
.container-ongs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  .desc {
    padding: 24px 0;
    width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  .container-fichas {
    flex-direction: column;

    .content {
      flex-direction: row;
      display: flex;
      align-items: center;
      padding: 0 124px 60px;
      .i4 {
        display: flex;
        width: 50%;
      }
      .ficha {
        width: 120px;
        border-radius: 10px;
        height: 120px;
        transition: all 0.1s ease-out;
        display: flex;
        justify-content: center;
        align-items: center;
        .img {
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
          }
        }
        &:hover {
          box-shadow: 0px 0px 5px 0px rgba(37, 37, 37, 0.1);
        }
      }
    }
  }
}
.container-contribuir {
  width: 100%;
  height: 400px;
  background: #ffcf53 url('../assets/img/manos.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;

  .img {
    height: 400px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    //background: url('../assets/img/manos.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    img {
      width: 725px;
    }
  }
  .content {
    padding-top: 84px;
    width: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    z-index: 1;
    .texto {
      span {
        font-weight: 600;
        font-size: 28px;
        color: #000;
        text-align: center;
      }
      p {
        padding: 24px 0 48px;
      }
    }
  }
}

/*326*/
@media screen and(min-width: 320px) {
  .home {
    padding: 0 @layout-xs;
  }
  .container-banner .content-banner .content {
    padding-top: 140px;
  }
  .container-banner .content-banner .content .text {
    padding: 0 24px;
    span {
      font-size: 22px;

      font-style: normal;
      font-weight: 600;

      line-height: 36px;
      color: #fff;
    }
  }
  .container-banner .content-banner .content .btn-banner {
    padding: 45px @layout-xs;
  }
  .container-colabor {
    padding: 120px 0px;
  }
  .container-colabor .colaborar {
    width: 100%;
  }
  .container-stats {
    width: 100%;
    .texto {
      padding: 0;
    }
    .desc {
      padding: 36px 0;
      text-align: center;
    }
    .res-stats {
      .result {
        flex-direction: column;
        .colm-3 {
          width: 100%;
          padding: 36px 0;
          &:nth-child(1) {
            justify-content: center;
          }
          &:nth-child(3) {
            justify-content: center;
          }
        }
      }
    }
  }
  .container-info-home {
    .fl-2 {
      padding: 60px 0 0;
      .container-img-info {
        .cont {
          justify-content: center;
        }
      }
    }
    .info-home {
      width: 100%;
      flex-direction: column-reverse;
      .container-info {
        width: 100%;
        text-align: center;
        .texto {
          align-items: center;
        }
      }
      .container-img-info {
        .cont {
          justify-content: center;
          .formaIm {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            img {
              height: 280px;
              width: 300px;
            }
          }
        }
      }
    }
    .flex-rev {
      width: 100%;
      flex-direction: column;

      .container-info {
        width: 100%;
        text-align: center;
        .texto {
          align-items: center;
        }
      }
      .container-img-info {
        .cont {
          justify-content: center;
          .formaIm {
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            display: flex;
            img {
              height: 280px;
              width: 300px;
            }
          }
        }
      }
    }
    .colm-2 {
      align-items: center;
    }
  }

  .container-info-home .info-home .container-info .linea,
  .container-info-home .flex-rev .container-info .linea {
    margin: 24px auto;
  }
  .colm-2 {
    width: 100%;
    justify-content: center;
  }
  .container-about {
    width: 100%;
    padding: 0;
    .texto {
      padding-bottom: 0;
    }
    .content {
      flex-direction: column;

      .colm-3 {
        width: 100%;
        padding-top: 68px;
      }
    }
    .btn-fl {
      padding-bottom: 130px;
    }
  }
  .container-about .content .about {
    width: 100%;
  }
  .container-ongs {
    .desc {
      width: 100%;
    }
    .container-fichas {
      .content {
        padding: 0;
        flex-direction: column;
        .i4 {
          width: 100%;
          justify-content: space-around;
          .colm-4 {
            .ficha {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .container-ongs .container-fichas .content {
    padding-bottom: 48px;
    width: 100%;
  }
  .colm-4 {
    width: 68px;
    height: 68px;
  }
  .texto {
    text-align: center;
    padding: 0;
  }
  .container-contribuir {
    height: 426px;
    background-size: cover;
    .img {
      height: 426px;
    }
    .content {
      padding: 44px @layout-xs 0;
    }
  }
}

/*424*/
@media screen and(min-width: 424px) {
  .home {
    padding: 0 @layout-xs;
  }
  .container-banner .content-banner .content .text {
    padding: 0 24px;
  }
  .container-banner .content-banner .content .btn-banner {
    padding: 45px 66px;
  }
  .container-colabor {
    padding: 120px 0px;
  }
  .container-colabor .colaborar {
    width: 100%;
  }
  .container-stats {
    width: 100%;
    .texto {
      padding: 0;
    }
    .desc {
      padding: 36px 0;
      text-align: center;
    }
    .res-stats {
      .result {
        flex-direction: column;
        .colm-3 {
          width: 100%;
          padding: 36px 0;
          &:nth-child(1) {
            justify-content: center;
          }
          &:nth-child(3) {
            justify-content: center;
          }
        }
      }
    }
  }
  .container-info-home {
    .fl-2 {
      padding: 0;
      .container-img-info {
        .cont {
          justify-content: center;
        }
      }
    }
    .info-home {
      width: 100%;
      flex-direction: column-reverse;
      .container-info {
        width: 100%;
        text-align: center;
        .texto {
          align-items: center;
        }
      }
      .container-img-info {
        .cont {
          .formaIm {
            width: 100%;
            height: 100%;
            img {
              width: 376px;
              height: 360px;
            }
          }
        }
      }
    }
    .flex-rev {
      width: 100%;
      flex-direction: column;

      .container-info {
        width: 100%;
        text-align: center;
        .texto {
          align-items: center;
        }
      }
      .container-img-info {
        .cont {
          justify-content: center;
          .formaIm {
            width: 100%;
            height: 100%;
            img {
              width: 376px;
              height: 360px;
            }
          }
        }
      }
    }
    .colm-2 {
      justify-content: center;
      align-items: center;
    }
  }

  .container-info-home .info-home .container-info .linea,
  .container-info-home .flex-rev .container-info .linea {
    margin: 24px auto;
  }
  .colm-2 {
    width: 100%;
    justify-content: center;
  }
  .container-about {
    width: 100%;
    padding: 0;
    .texto {
      padding-bottom: 0;
    }
    .content {
      flex-direction: column;

      .colm-3 {
        width: 100%;
        padding-top: 68px;
      }
    }
    .btn-fl {
      padding-bottom: 132px;
    }
  }
  .container-about .content .about {
    width: 100%;
  }
  .container-ongs {
    .desc {
      width: 100%;
    }
    .container-fichas {
      .content {
        padding: 0;
        flex-direction: column;
        .i4 {
          width: auto;

          .colm-4 {
            margin: 0 8px 16px 0;

            .ficha {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
  .container-ongs .container-fichas .content {
    padding-bottom: 48px;
    width: 100%;
  }
  .colm-4 {
    width: 80px;
    height: 80px;
  }
  .texto {
    text-align: center;
  }
  .container-contribuir {
    height: 426px;
    background-size: cover;
    .content {
      padding: 84px @layout-xs;
    }
  }
  .container-contribuir .img {
    height: 426px;
  }
}

/*796*/

@media screen and(min-width: 796px) {
  .home {
    padding: 0 @layout-xs-p;
  }
  .container-banner {
    .content-banner {
      .content {
        .text {
          padding: 0 98px;
        }
      }
    }
  }
  .container-colabor {
    .texto {
      padding: 0 (98px-@layout-xs-p);
    }
  }
  .container-stats {
    .desc {
      padding: 36px (98px-@layout-xs-p) 0;
    }
  }
  .container-info-home .info-home .container-info .texto,
  .container-info-home .flex-rev .container-info .texto {
    align-items: center;
  }
  .container-info-home {
    padding-top: (120px-48px);
    .info-home {
      .container-img-info {
        .cont {
          .formaIm {
            height: 361px;
            width: 376px;
          }
        }
      }
    }
    .flex-rev {
      width: 100%;
      flex-direction: column;
      .container-img-info {
        .cont {
          .formaIm {
            height: 361px;
            width: 376px;
          }
        }
      }
      .container-info {
        width: 100%;
      }
    }
  }
  .container-about {
    .content {
      .about {
        .desc {
          padding: 0 (98px-@layout-s-p);
        }
      }
    }
  }
  .container-ongs {
    .container-fichas {
      .content {
        padding: 0 (134px-@layout-s-p) 120px;
        .i4 {
          .colm-4 {
            width: 120px;
            height: 120px;
          }
        }
      }
    }
  }
  .container-contribuir {
    .content {
      padding: 84px (98px-@layout-s-p);
    }
  }
}

/*800*/

@media (min-width: 800px) {
  .home {
    padding: 0 @layout-s;
  }
  .container-banner .content-banner .content .text {
    padding: 0 100px;
  }
  .container-banner .content-banner .content .btn-banner {
    padding: 45px 66px;
  }
  .container-colabor {
    padding: 120px (100px-@layout-s);
    .colaborar {
      .texto {
        padding: 0;
      }
    }
  }
  .container-colabor .colaborar {
    width: 100%;
  }
  .container-stats {
    width: 100%;
    .texto {
      padding: 0;
    }
    .desc {
      padding: 36px 0;
      text-align: center;
    }
    .res-stats {
      .result {
        flex-direction: column;
        .colm-3 {
          width: 100%;
          padding: 36px 0;
          &:nth-child(1) {
            justify-content: center;
          }
          &:nth-child(3) {
            justify-content: center;
          }
        }
      }
    }
  }
  .container-info-home {
    .fl-2 {
      padding: 0;
    }
    .info-home {
      width: 100%;
      flex-direction: row;
      .container-info {
        width: 100%;
        text-align: left;
        .texto {
          text-align: left;
        }
        .linea {
          margin: 24px 0;
        }
      }
      .container-img-info {
        height: 361px;
        width: 376px;
      }
    }
    .flex-rev {
      width: 100%;
      flex-direction: row;
      .container-info {
        text-align: left;
        .texto {
          text-align: left;
        }
        .linea {
          margin: 24px 0;
        }
      }
    }
  }

  .colm-2 {
    width: 50%;
  }
  .container-about {
    width: 100%;
    padding: 0;
    .texto {
      padding-bottom: 0;
    }
    .content {
      flex-direction: column;

      .colm-3 {
        width: 100%;
        padding-top: 68px;
      }
    }
    .btn-fl {
      padding-bottom: 132px;
    }
  }
  .container-about .content .about {
    width: 100%;
  }
  .container-ongs {
    .desc {
      width: 100%;
    }
    .container-fichas {
      .content {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 48px;
        width: 100%;
        flex-direction: row;
        .i4 {
          width: auto;
          .colm-4 {
            margin: 0 16px 16px 0;
            width: 78px;
            height: 78px;
            .ficha {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }

  .texto {
    text-align: center;
  }
  .container-contribuir {
    height: 426px;
    background-size: contain;
  }
  .container-contribuir .img {
    height: 426px;
  }
}

/*796*/

/*1016*/

@media (min-width: 1016px) {
  .home {
    padding: 0 @layout-s-p;
  }
  .container-stats .desc {
    width: 600px;
    margin: 0 auto;
  }
  .container-info-home {
    .fl-2 {
      padding: 120px 0;
    }

    .info-home {
      .container-info .texto {
        align-items: flex-start;
      }
      .container-img-info {
        .cont {
          .formaIm {
            img {
              width: 468px;
              height: 448px;
            }
          }
        }
      }
    }
    .flex-rev {
      .container-info .texto {
        align-items: flex-start;
      }
      .container-img-info {
        .cont {
          .formaIm {
            width: 100%;
            height: 100%;
            img {
              width: 468px;
              height: 448px;
            }
          }
        }
      }
    }
  }

  .container-ongs {
    .desc {
      width: 100%;
    }
    .container-fichas {
      .content {
        padding: 0;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 48px;
        width: 100%;
        flex-direction: row;
        .i4 {
          width: auto;
          .colm-4 {
            margin: 0 16px 16px 0;
            width: 105px;
            height: 105px;
            .ficha {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

/* 1028 */

@media screen and (min-width: 1028px) {
  .home {
    padding: 0 @layout-m;
  }

  .container-banner {
    .content-banner {
      .content {
        .text {
          padding: 0 114px;
        }
      }
    }
  }
  .container-colabor {
    padding: 204px 196px;
  }

  .container-stats {
    .res-stats {
      .result {
        flex-direction: row;
      }
    }
  }
  .container-info-home {
    .info-home {
      flex-direction: row;
    }
  }
  .texto {
    text-align: left;
  }
  .container-info-home {
    .info-home {
      .colm-2 {
        .container-info {
          text-align: left;
          width: 300px;
          .linea {
            margin: 24px 0;
          }
        }
      }
    }
    .flex-rev {
      flex-direction: row;
      .colm-2 {
        text-align: left;
        .container-info {
          width: 300px;
          .linea {
            margin: 24px 0;
          }
        }
      }
    }
  }
  .container-about {
    .content {
      flex-direction: row;
      .colm-3 {
        width: (100%/3);
        .about {
          .desc {
            padding: 0 20px;
            height: 88px;
          }
        }
      }
    }
  }
}
@media screen and (min-width: 1224px) {
  .home {
    padding: 0 @layout-xl;
  }
  .container-banner {
    .content-banner {
      .content {
        .text {
          padding: 0 280px;
        }
      }
    }
  }
  .container-colabor {
    padding: 204px (420px-@layout-xl);
  }
}
