@import './lib/_variables.less';
@import './layout/_layout.less';

// Global

.OngList {
  background-color: @bgwhite;
}

.OngListContent {
  margin-top: 48px;
  padding: 0 @layout-xl;
  height: auto;
}

// Banner

.Banner {
  margin-top: 64px;
  height: 228px;
  background: linear-gradient(0deg, rgba(26, 25, 40, 0.6), rgba(26, 25, 40, 0.6)),
    url('https://gentem.org/public/src/img/hero_xxl.jpg');
  position: relative;
  z-index: 0;
}

.Banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 228px;

  & h2 {
    color: white !important;
    text-align: center;
  }

  & h5 {
    color: white !important;
    text-align: center;
  }
}

// Contenido
.OngList__Search {
  width: 392px;
  max-width: 392px;
}

.OngList__Search--container {
  & > div {
    margin-bottom: 48px;
  }
}

.SearchSelect__select {
  margin-top: 12px;
  /*   & .ant-select-selector {
    border: 1px solid #1a1928 !important;
  } */
}

.textCheck {
  margin-top: 24px;
}
.textCheck__top {
  display: flex;
  justify-content: space-between;
}
.ant-switch {
  min-width: 50px;
  height: 26px;
  &::after {
    width: 22px;
    height: 22px;
  }
}
.ant-switch-checked {
  background-color: @blue;
}

.textCheck__bottom {
  font-size: 14px;
  max-width: 310px;
}

// Sider

.OngList__Result {
  margin-left: 48px;
  flex: auto !important;
  max-width: 784px !important;
  min-width: 0 !important;
  width: 784px !important;
  background: #ffffff;
}

.OngList__Result--quantity {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.quantity-btn {
  padding: 10px 16px;
  font-size: 14px;
  color: @black;
  border: 1px solid @black;
  border-radius: 2px;
  width: 87px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    cursor: pointer;
    color: white;
    border: 1px solid white;
    background: @black;
  }
}

.OngList__Result--filter {
  margin-top: 24px;
  margin-bottom: 32px;
}

// Result Item

.Result__item {
  max-width: 784px;
  width: 100%;
  height: 136px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  background: #ffffff;
  display: flex;
  margin-bottom: 24px;
  &:hover {
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
    transition: 700ms;
  }
}
.Result__item--img {
  width: 136px;
  height: 136px;
  & img {
    width: inherit;
  }
}
.Result__item--details {
  margin: 24px 16px;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__details--title h4 {
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.item__details--desc h6 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item__details--footer {
  display: flex;
  justify-content: space-between;
}

.details__footer--target {
  display: flex;
  margin-top: 8px;
}
.footer__target--principal {
  margin-right: 16px;
  display: flex;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  & span {
    font-size: 14px;
    padding: 6px 8px;
  }
  & .Target {
    margin: 0;
  }
  & .Target-span {
    height: inherit;
  }
}
.details__footer--location {
  color: #8c8b93;
  font-size: 16px;
  display: flex;
  align-items: center;
}

// Responsive

// XXS
@media (min-width: 320px) {
  .OngListContent {
    padding: 0 @layout-xs;
    margin-top: 24px;
  }
  .Banner {
    height: 252px;
    padding: 0 24px;
    background: linear-gradient(0deg, rgba(26, 25, 40, 0.6), rgba(26, 25, 40, 0.6)),
      url('https://gentem.org/landing/img/hero_s.jpg');
  }
  .OngList__Search {
    display: none !important;
  }
  .OngList__Result {
    margin: 0;
  }
  .Result__item {
    height: 132px;
  }
  .Result__item--img {
    width: 132px;
    height: 132px;
  }
  .Result__item--details {
    margin: 21px 16px;
  }
  .item__details--desc {
    display: none;
  }
  .item__details--footer {
    flex-direction: column-reverse;
  }
  .OngList__Modal {
    & > * {
      display: block !important;
    }
  }
  .OngList__Modal--logo {
    margin-bottom: 60px;
    & img {
      width: 120px;
    }
  }
  .OngList__Search {
    width: 100%;
    max-width: 100%;
  }
}

// XS
@media (min-width: 424px) {
  .Banner {
    background: linear-gradient(0deg, rgba(26, 25, 40, 0.6), rgba(26, 25, 40, 0.6)),
      url('https://gentem.org/landing/img/hero_m.jpg');
  }
  /* .OngListContent {
    padding: 0 @layout-xs;
    margin-top: 24px;
  }
  .Banner {
    height: 252px;
  }
  .OngList__Search {
    display: none !important;
  }
  .OngList__Result {
    margin: 0;
  }
  .Result__item {
    height: 132px;
  }
  .Result__item--img {
    min-width: 132px;
    height: 132px;
  }
  .Result__item--details {
    margin: 21px 16px;
  }
  .item__details--desc {
    display: none;
  }
  .item__details--footer {
    flex-direction: column-reverse;
  }
  .OngList__Modal {
    & > * {
      display: block !important;
    }
  }
  .OngList__Modal--logo {
    margin-bottom: 60px;
    & img {
      width: 120px;
    }
  }
  .OngList__Search {
    width: 100%;
    max-width: 100%;
  } */
}

// XS Portrait
@media (min-width: 796px) {
  .Banner {
    height: 228px;
    background: linear-gradient(0deg, rgba(26, 25, 40, 0.6), rgba(26, 25, 40, 0.6)),
      url('https://gentem.org/landing/img/hero_l.jpg');
  }
  .OngListContent {
    padding: 0 @layout-xs-p;
  }
}

// S
@media (min-width: 800px) {
  .OngListContent {
    padding: 0 @layout-s;
    margin-top: 48px;
  }
  .OngList__Search {
    width: 257px;
    max-width: 257px;
    display: block !important;
  }
  .OngList__Result {
    margin-left: 36px;
  }
  .OngList__Result--quantity {
    justify-content: flex-end;
  }
  .quantity-btn {
    display: none;
  }
}

// S Portrait
@media (min-width: 1016px) {
  .Banner {
    background: linear-gradient(0deg, rgba(26, 25, 40, 0.6), rgba(26, 25, 40, 0.6)),
      url('https://gentem.org/landing/img/hero_xl.jpg');
  }
  .OngListContent {
    padding: 0 @layout-s-p;
  }
  .OngList__Search {
    width: 345px;
    max-width: 345px;
  }
  .OngList__Result {
    margin-left: 48px;
  }
}

// M
@media (min-width: 1028px) {
  .Banner {
    background: linear-gradient(0deg, rgba(26, 25, 40, 0.6), rgba(26, 25, 40, 0.6)),
      url('https://gentem.org/landing/img/hero_xxl.jpg');
  }
  .OngListContent {
    padding: 0 @layout-m;
  }
  .OngList__Search {
    width: 300px;
    max-width: 300px;
  }
  .OngList__Result {
    margin-left: 40px;
  }
  .Result__item {
    height: 136px;
  }
  .Result__item--img {
    width: 136px;
    height: 136px;
  }
  .Result__item--details {
    margin: 12px 16px;
  }
  .item__details--desc {
    display: block;
  }
  .item__details--footer {
    flex-direction: row;
  }
}
// XL
@media (min-width: 1224px) {
  .OngListContent {
    padding: 0 @layout-xl;
  }
  .OngList__Search {
    width: 392px;
    max-width: 392px;
  }
  .OngList__Result {
    margin-left: 48px;
  }
  .Result__item--details {
    margin: 24px 16px;
  }
}
