@import './lib/_variables.less';
@import './layout/_layout.less';
@import '../../node_modules/mapbox-gl/dist/mapbox-gl.css';

#contentDivTitle {
  font-size: 1em;
  font-weight: 600;
}

#contentDiv {
  font-size: 1em;
  font-weight: 400;
}

.OngProfile {
  background-color: @bgwhite;
}

.OngProfile h4 {
  font-size: 18px !important;
  color: #1a1928 !important;
  font-weight: bold;
}

.OngProfileContent {
  padding: @layout-xl;
  height: auto;
}

.OngProfile__Hero {
  width: 784px;
  margin-bottom: 84px;
}

.OngProfile__User--ImgBreadcrumb {
  position: absolute;
  top: 176px;
  display: flex;
  max-width: 784px;
}

.OngProfile__User--Img {
  background-color: @bgwhite;
  width: 172px;
  height: 172px;
  left: @layout-xl;
  top: 176px;
  border-radius: 28.6667px;
  #flexcenter;
  align-items: center;
  box-shadow: 0px 6px 24px rgba(0, 0, 0, 0.14);
  z-index: 1;
}

.OngProfile__User--Img > img {
  width: 100%;
  border-radius: inherit;
}

.OngProfile__User--Breadcrumb {
  position: relative;
  left: 24px;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.OngProfile__User--Info {
  padding-top: 96px;
}

.OngProfile__Info--Title {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 1.5em;
}

.OngProfile__Info--Description {
  padding-bottom: 12px;
  font-weight: 400 !important;
  font-size: 1.1em;
  margin-bottom: 0;
}

.OngProfile__User--HowUseDonation {
  margin-top: 24px;

  & h3 {
    margin-bottom: 12px;
    font-size: 14px !important;
  }
}

.OngProfile__User--Sponsors {
  margin-top: 84px;
}

.OngProfile__objective--Title,
.OngProfile__HowUseDonation--Title,
.OngProfile__Sponsors--Title,
.OngProfile__Contact--Title,
.OngProfile__Address-Title {
  #contentDivTitle;
}

.OngProfile__objective--Description,
.OngProfile__HowUseDonation--Description {
  #contentDiv;
}

.OngProfile__User--Sponsors,
.OngProfile__HowToDonate--Contact,
.OngProfile__User--Address,
.ResponsiveInfo__Active {
  width: 100%;
}

.OngProfile__Sponsors--Container {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.OngProfile__Container--IMG {
  margin-right: 16px;
  margin-bottom: 16px;
  width: 80px;
  height: 80px;
  box-shadow: 0px 4px 16px rgba(35, 126, 213, 0.1);
  border-radius: 8px;
  background-color: #fff;
  display: flex;
}

.OngProfile__Container--IMG img {
  /* object-fit: cover; */
  object-fit: contain;
  width: 80px;
  height: 80px;
}

.OngProfile__Address--Info {
  display: flex;
  align-items: center;
}

.OngProfile__Info--Icon {
  font-size: 30px;
  color: @blue;
  margin-right: 10px;
}

.OngProfile__FixedHowToDonate {
  position: fixed;
  bottom: 3vh;
  display: flex;
  width: 85%;
  justify-content: flex-end;
  margin: 0 @layout-xs;
  color: @blue;
}

.OngProfile__FixedHowToDonate--Button {
  width: 216px;
  height: 50px;
  margin-right: 24px;
  background-color: @blue;
  border-color: @blue;
  display: none;

  & span {
    font-size: 18px;
    font-weight: 800;
  }
}

.OngProfile__FixedHowToDonate--MessageButton {
  display: none;
  width: 60px;
  height: 62px;
  border-radius: 40px;
  background-color: @blue;
  border-color: @blue;
}

.OngProfile__Divider {
  height: auto;
}

.OngProfile__HowToDonate {
  background-color: @bgwhite;
  max-width: 392px !important;
  width: 392px !important;
  flex: 0 0 auto !important;
}

.OngProfile__HowToDonate > div > div {
  padding-top: 40px;
}

.OngProfile__HowToDonate--Contact {
  display: block;
}

.OngProfile__Title--Divider {
  margin: 10px 0;
}

.OngProfile__Donate--Button {
  background-color: @blue;
  border-color: @blue;
  width: 266px;
  height: 48px;
  #flexcenter;

  & span {
    font-size: 18px;
    font-weight: 800;
  }
}

.OngProfile__UserModal {
  display: none;
}

.OngProfile__Donate--DonateWay {
  padding-top: 36px;
}

.OngProfile__HowToDonate--DonateProduct {
  padding-top: 36px;
}

.OngProfile__HowToDonate--Contact {
  & h4 {
    margin: 0;
  }
}

.OngProfile__Contact--Title {
  padding-top: 36px;
}

.OngProfile__Contact--Info {
  & strong {
    font-weight: bold;
    font-size: 14px;
  }

  & span {
    color: @blue;
    font-size: 18px;
    font-weight: bold;
  }

  & div {
    padding-bottom: 12px;
  }
}

.OngProfile__Info-Tel {
  & > span {
    color: @black;
    font-weight: 400;
  }
}

.OngProfile__Social {
  margin-top: 24px;
  width: 100%;

  & h4 {
    margin: 0 !important;
  }
}

.OngProfile__Social--Networks {
  color: @blue;

  & img {
    width: 50px;
    margin-right: 24px;
  }
}

.OngProfile__User--Address {
  margin-top: 36px;

  & h4 {
    margin: 0 !important;
  }
}

.h4 {
  font-size: 18px !important;
  color: #1a1928 !important;
  font-weight: bold;
}

.span {
  font-size: 18px !important;
}

// MAP

.mapboxgl-ctrl-logo,
.mapboxgl-ctrl-attrib-inner,
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}

.Map {
  margin-top: 64px;
  height: 228px;
}

/* .Map > div {
  width: 100% !important;
  height: 228px;
} */

.mapInfo {
  display: flex;
  align-items: center;
}

.marker {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.marker__fill {
  width: 34px;
  height: 34px;
  background: #e5384c;
  opacity: 0.2;
  border-radius: 20px;
}

.marker__fill--fill {
  width: 14px;
  height: 14px;
  background: #e5384c;
  border-radius: 20px;
  position: absolute;
}

// Modal
@media (max-width: 800px) {
  .ant-modal-body {
    padding: 12px 24px !important;
  }

  .OngProfile__UserModal {
    display: flex;
    align-items: center;

    & svg {
      stroke: @black;
      position: absolute;
      top: 24px;
      right: 24px;
    }
  }

  .OngProfile__UserModal--Img {
    margin-right: 16px;
    background-color: @bgwhite;
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    #flexcenter;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.14);
    z-index: 1;
  }

  .OngProfile__UserModal--Img > img {
    width: inherit;
    border-radius: 10px;
  }

  .OngProfile__HowToDonate--Title {
    font-weight: 600;
    font-size: 21px;
    margin: 48px 0;

    & h3 {
      margin: 0;
    }
  }

  .OngProfile__UserModal--Title {
    font-weight: bold;
    font-size: 16px;
  }

  .OngProfile__UserModal--DonationProduct {
    margin-top: 54px;
  }

  .OngProfile__UserModal--DonationPlace {
    padding-top: 12px;
  }

  .OngProfile__User--Contact,
  .OngProfile__User--Address {
    display: block;
  }

  .OngProfile__FixedHowToDonate--Button,
  .OngProfile__FixedHowToDonate--MessageButton {
    display: inline;
  }
}

// Responsive
// UltraResponsive XXS(?
@media (min-width: 320px) {
  .OngProfileContent {
    padding: 0 @layout-xs;
  }

  .Map {
    height: 168px !important;
  }

  .OngProfile__Hero {
    width: @hero-xxs;
  }

  .OngProfile__User--ImgBreadcrumb {
    left: @layout-xs;
    top: 168px;
    max-width: @breadcrumb-xxs;
  }

  .OngProfile__User--Img {
    width: 120px;
    height: 120px;
    min-width: 120px;
  }

  .OngProfile__User--Breadcrumb {
    top: 72px;
    left: 16px;
  }

  .OngProfile__Target {
    margin-top: 28px;
    margin-bottom: 40px;
  }

  .OngProfile__User--HowUseDonation {
    margin-top: 48px;
  }

  .OngProfile__HowToDonate {
    display: none;
  }

  .OngProfile__Contact--Title {
    padding-top: 48px;
  }

  .OngProfile__Social {
    margin-top: 36px;
  }

  .OngProfile__User--Address {
    margin-top: 48px;
  }

  .OngProfile__HowToDonate {
    width: 376px !important;
  }

  .OngProfile__Donate--Button {
    width: 290px;
  }

  .OngProfile__Donate--DonateWay {
    padding-top: 48px;
  }

  .OngProfile__HowToDonate--DonateProduct {
    padding-top: 48px;
  }

  .OngProfile__FixedHowToDonate {
    margin: 0;
  }

  .OngProfile__FixedHowToDonate--Button {
    width: 200px;
    margin-right: 8px;
  }

  .OngProfile__FixedHowToDonate--MessageButton {
    width: 50;
    height: 50;
  }

  .address {
    display: none;
  }
}

// XS
@media (min-width: 424px) {
  .OngProfile__User--ImgBreadcrumb {
    max-width: @breadcrumb-xs;
  }

  .OngProfile__User--Breadcrumb {
    top: 72px;
    left: 16px;
  }

  .OngProfile__FixedHowToDonate {
    margin: 0 @layout-xs;
  }

  .OngProfile__FixedHowToDonate--Button {
    width: 216px;
    margin-right: 24px;
  }

  .OngProfile__FixedHowToDonate--MessageButton {
    width: 60;
    height: 60;
  }
}

// XS Portrait
@media (min-width: 796px) {
  .OngProfileContent {
    padding: 0 @layout-xs-p;
  }

  .OngProfile__Hero {
    width: @hero-xs-p;
  }

  .OngProfile__User--ImgBreadcrumb {
    max-width: @breadcrumb-xs-p;
  }

  .OngProfile__Contact--Title {
    padding-top: 36px;
  }

  .OngProfile__Social {
    margin-top: 24px;
  }

  .OngProfile__User--Address {
    margin-top: 36px;
  }

  .OngProfile__Donate--Button {
    width: 266px;
  }

  .OngProfile__Donate--DonateWay {
    padding-top: 36px;
  }

  .OngProfile__HowToDonate--DonateProduct {
    padding-top: 36px;
  }
}

// S
@media (min-width: 800px) {
  .OngProfileContent {
    padding: 0 @layout-s;
  }

  .Map {
    height: 228px !important;
  }

  .OngProfile__Hero {
    width: @hero-s;
    margin-right: @hero-s-mr;
  }

  .OngProfile__User--ImgBreadcrumb {
    left: @layout-s;
    top: 176px;
    max-width: @breadcrumb-s;
  }

  .OngProfile__User--Img {
    width: 172px;
    height: 172px;
    min-width: 172px;
  }

  .OngProfile__User--Breadcrumb {
    top: 156px;
    left: 24px;
  }

  .OngProfile__Target {
    margin-top: 16px;
    margin-bottom: 28px;
  }

  .OngProfile__User--HowUseDonation {
    margin-top: 24px;
  }

  .OngProfile__User--Sponsors {
    margin-top: 72px;
  }

  .OngProfile__HowToDonate {
    display: block;
  }

  .OngProfile__HowToDonate {
    width: 266px !important;
  }

  // Map
  .address {
    display: block;
    width: 236px;
    height: auto;
    background-color: @bgwhite;
    border-radius: 9px;
    position: absolute;
    margin-left: 45px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  }

  .textContainer {
    font-size: 14px;
    padding: 12px 16px;
    color: #1a1928;
  }

  .textContainer__city {
    padding-top: 8px;
  }

  .textContainer__country {
    padding-top: 12px;
    font-weight: bold;
  }
}

// S Portrait
@media (min-width: 1016px) {
  .OngProfileContent {
    padding: 0 @layout-s-p;
  }

  .OngProfile__Hero {
    width: @hero-s-p;
  }

  .OngProfile__User--ImgBreadcrumb {
    max-width: @breadcrumb-s-p;
  }

  .OngProfile__HowToDonate {
    width: 347px !important;
  }
}

// M
@media (min-width: 1028px) {
  .OngProfileContent {
    padding: 0 @layout-m;
  }

  .OngProfile__Hero {
    width: @hero-m;
    margin-right: @hero-m-mr;
  }

  .OngProfile__User--ImgBreadcrumb {
    left: @layout-m;
    max-width: @breadcrumb-m;
  }

  .OngProfile__User--Sponsors {
    margin-top: 84px;
  }

  .OngProfile__HowToDonate {
    width: 300px !important;
  }
}

// XL
@media (min-width: 1224px) {
  .OngProfileContent {
    padding: 0 @layout-xl;
  }

  .OngProfile__Hero {
    width: @hero-xl;
  }

  .OngProfile__User--ImgBreadcrumb {
    left: auto;
    max-width: @breadcrumb-xl;
  }

  .OngProfile__Target {
    margin-top: 22px;
  }

  .OngProfile__HowToDonate {
    width: 392px !important;
  }
}
