@import './lib/_variables.less';
@import './layout/_layout.less';

@primary-color: #1055fb;
@layout-body-background: #ffffff;

body {
  font-family: 'Nunito', serif;
  font-size: 18px;
}

h1 {
  font-weight: 600 !important;
  font-size: 45px !important;
}
h2 {
  font-weight: 600 !important;
  font-size: 32px !important;
  line-height: 36px !important;
  margin: 0 !important;
}

h3 {
  font-weight: 600 !important;
  font-size: 21px !important;
  line-height: 30px !important;
  margin: 0 !important;
}
/* h4{
    font-style: normal;
    font-weight: normal;
    font-size: 24px !important;
    line-height: 30px !important;

} */

h4 {
  font-weight: bold !important;
  font-size: 18px !important;
  margin: 0 !important;
}

h6 {
  font-size: 16px !important;
  margin: 0;
}

p {
  margin: 0;
}

a {
  color: @blue;
  &:hover {
    color: @dark-blue;
  }
}
